body{
    background-position: center;
}

h2{
    text-align: center;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 60px;
}

p{
    text-align: start;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 25px;
}

#Container{
    width: 100%;
    display: flex;
    flex-direction: space-around;
}

@media screen and (max-width: 768px) {
    #Container{
        width: 100%;
        flex-direction: column;
    }

    
    
}

#Informacoes1{
    width: 100%;
    text-align: center;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 2%;
}

#Informacoes2{
    width: 100%;
    text-align: center;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
}


